# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
test_temp.py
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
/staticfiles/

# Virtual env
env/
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
